#stock-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s ease-in;
}

section{
    padding: 10px;
}

.stock-header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:x-large;
    border-bottom: 5px dotted black
}

section *{
    padding: 15px;
}

.stock-info-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stock-info-buttons .button-component{
    flex-basis: 80%;
}

.stock-info-buttons .buy-sell-button{
    flex-basis: 50%;
}

