
.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
.search-input{
    margin-top: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input{
    border-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
}

.search-icon{
    height: 60px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
}

input:focus{
    outline: none;
}

.search-icon svg{
    font-size: 35px;
}

.search-data-result{
    margin-top: 5px;
    width: 300px;
    height: auto;
    background-color: white;
    box-shadow: black 0px 0px 15px;
    overflow: hidden;
    overflow-y: auto;
}


.search-data-result .search-data-item{
    width:100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}

.search-data-item{
    margin-left: 10px;
}

.search-data-item:hover{
    background-color: lightgrey;
}

#clear-button{
    cursor: pointer;
}